*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cadastro{
    background-image: url(../imagem/580408.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box{
    display: flex;
    padding: 150px;
    width: 1400px;
    height: 900px;
}
.img-box{
    background-color: rgba(255,255,255,0.5);
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px 0 0 20px;
}
.img-box img{
    height: 60%;
    border-radius: 40px 200px
}
.form-box{
    background-color: rgba(255,255,255,0.5);
    backdrop-filter: blur(10px);
    width: 50%;
    padding: 30px 40px;
    border-radius: 0 20px 20px 0;
}
.form-box h2{
    font-size: 36px;
    color: rgb(157, 0, 255);
    text-align: center;
}
.form-box p{
    font-size: 24px;
    color: #d3d3d3;
    font-weight: bold;
    text-align: right;
}
.form-box p a{
    text-decoration: none;
    color: rgb(219, 14, 209);
}
.form-box form{
    margin: 20px 0;
}
.form-box .input-group{
    margin-bottom: 15px;
}
.form-box .input-group label{
    color: #3d3d3d;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}
.form-box .input-group input{
    width: 100%;
    height: 40px;
    background-color: rgda(255,255,255,0.5);
    border-radius: 10px;
    outline: none;
    border: 2px solid transparent;
    padding: 15px;
    font-size: 15px;
    color: #5c023c;
    transition: all 0.4s ease;
}
.form-box .input-group input:focus{
    border-color: #5c023c;
}
.botoes{
    display: flex;
    justify-content: space-evenly;
}
.form-box .input-group button{
    width: 150px;
    height: 30px;
    background-color: #5c0c68;
    border-radius: 10px;
    outline: none;
    border: none;
    margin-top: 15px;
    color: azure;
    font-size: 16px;
}
.form-box .input-group button:hover{
    background-color:#fb00ff;
}
